@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

/* Aplicação */

body {
  background-color: var(--preto);
}

#imgTelaCheia {
  height: 101vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imgTelaCheia #title {
  color: var(--branco);
  font-weight: 5000;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#imgTelaCheia #title h1 {
  font-family: 'Play', sans-serif;
  font-size: 3rem;
}

#imgTelaCheia #title h1:nth-child(2) {
  margin: 5vh 0;
}

#secTopicos {
  display: flex;
  justify-content: space-around;
}

.flip-container {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flipper {
  position: relative;
	width: 100%;
	height: 100%;
  transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-container:hover .flipper{
	transform: rotateY(180deg);
}

.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back{
  transform: rotateY(180deg);
}

.box {
  position: relative;
  height: 200px;
  width: 180px;
  display: block;
  background-color: #000;
  /* background:   linear-gradient(0deg, black, #444444); */
  color: white;
  border-radius: 10px;
  font-size: 1.1rem;
}

.glowing::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, 
  #000, #000, var(--preto),  
  #000, #000);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: glower 20s linear infinite;
  border-radius: 10px;
}

.glowing2::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, 
  var(--amarelo), var(--branco), var(--amarelo), 
  var(--branco), var(--amarelo));
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: glower2 20s linear infinite;
  border-radius: 10px;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes glower2 {
  0% {
    background-position: 0 0;
  }
  
  25% {
    background-position: 400% 0;
  }

  50% {
    background-position: 0 0;
  }

  75% {
    background-position: -400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

button {
  width: 100px;
  height: 30px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #1717178c;
  color: white;
  border: none;
  transition: all .4s;
  filter: drop-shadow(#ffc7578c 2px 2px 2px);
}

footer {
  margin-top: 5vh;
  padding-top: 10vh;
  background: linear-gradient(0deg, #000, var(--preto));
}

#footer {
  display: flex;
  justify-content: space-between;
}

#footer div:not(#links, #gabrielPerfil) {
  margin: 0 3vw;
}

#footer #dev #gabrielPerfil {
  margin-top: 3vh;
  color: red;
}

#footer #dev #gabrielPerfil a {
  text-decoration: none;
}

#footer h3 {
  color: var(--branco);
}

#footer a {
  width: 100%; 
  position: relative;
  color: var(--branco);
  text-shadow: 1px 1px 1px #000;
}

#footer a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--amarelo);
}

#footer a:hover::after {
  width: 100%;
  transition: width 0.5s ease-in-out
}

#footer #contatos {
  display: flex;
  flex-direction: column;
}

#footer #contatos #links {
  margin: 3vh 0;
  display: inline-block;
  flex-direction: column;
}

#footer #contatos #links a {
  text-decoration: none;
  margin: 2vh 0 !important;
}